In [1]:
# Dictionary
# -indexing
# -orderd
# -Multiple data
# -Mutable

In [2]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [3]:
print(d['a'])

Apple

In [4]:
len(d)

3

In [5]:
# No + *

In [7]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
for i in d:
    print(i,end = " ")

a b c

In [10]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
for i in d.values():
    print(i, end = " ")

Apple Ball Cat

In [11]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
for i in d.items():
    print(i, end = " ")

('a', 'Apple') ('b', 'Ball') ('c', 'Cat')

In [12]:
a = [['a', 'Apple'],['b', 'Ball'],['c', 'Cat']] 
dict(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [14]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
list(a.items())

[('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat')]

In [22]:
# create
# d = dict()
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'cat'
d['d'] = 'Dog'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'd': 'Dog'}

In [18]:
# l = list()
# d = dict()

In [23]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'd': 'Dog'}
a['a'] = 'Ant'
a

{'a': 'Ant', 'b': 'Ball', 'c': 'cat', 'd': 'Dog'}

In [24]:
# del pop()
a = {'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'd': 'Dog'}
del a['d']
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}

In [26]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'd': 'Dog'}
b = a.pop('d')
print(a)
print(b)

{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}
Dog

In [30]:
d = {}
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    phone = input("Enter phone = ")
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808778765
{'Ram': '9808778765', 'Shyam': '9808778765'}

In [31]:
# list inside dict
d = {'Ram': [9843667654,9808778765], 'Shyam': [9843556543,9808778765]}
print(d)

{'Ram': [9843667654, 9808778765], 'Shyam': [9843556543, 9808778765]}

In [34]:
print(d['Ram'][0])
print(d['Shyam'][1])

9843667654
9808778765

In [35]:
d = {}
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    ntc_phone = int(input("Enter ntc no = "))
    ncell_phone = int(input("Enter ncell no = "))
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter n = 1
Enter name = Ram
Enter ncell no = 9867667654
Enter ncell no = 9808778765
{'Ram': [9867667654, 9808778765]}

In [36]:
d = {'name':['Ram','Shyam','Ram'],
    'ntc_phone':[9856556543,9834334321,9845445321],
    'ncell_phone':[9808778765,9808445432,9808556543]}
d

{'name': ['Ram', 'Shyam', 'Ram'],
 'ntc_phone': [9856556543, 9834334321, 9845445321],
 'ncell_phone': [9808778765, 9808445432, 9808556543]}

In [37]:
d = {'name':[],
    'ntc_phone':[],
    'ncell_phone':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input('Enter name = ')
    ntc_phone = int(input("Enter ntc no = "))
    ncell_phone = int(input("Enter ncell no = "))
    d['name'].append(name)
    d['ntc_phone'].append(ntc_phone)
    d['ncell_phone'].append(ncell_phone)
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc no = 9867665654
Enter ncell no = 9808776543
Enter name = Shyam
Enter ntc no = 9845776543
Enter ncell no = 9808778765
{'name': ['Ram', 'Shyam'], 'ntc_phone': [9867665654, 9845776543], 'ncell_phone': [9808776543, 9808778765]}

In [39]:
print(d['name'][0],d['ntc_phone'][0],d['ncell_phone'][0])

Ram 9867665654 9808776543

In [40]:
#dict inside list
d = [{'name':'Ram','age':34,'add':'Kathmandu'},
    {'name':'Shyam','age':44,'add':'Bhaktapur'},
    {'name':'Hari','age':54,'add':'Lalitpur'}]
d

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 44, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 54, 'add': 'Lalitpur'}]

In [44]:
d[2]

{'name': 'Hari', 'age': 54, 'add': 'Lalitpur'}

In [ ]:
d = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input('Enter age = '))
    add = input("Enter add = ")
    x = {'name': name, 'age': age, 'add': add}
    d.append(x)
    
print(d)

In [1]:
# dict inside dict

In [3]:
d = {1:{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
     2:{'name': 'Shyam', 'age': 44, 'add': 'Bhaktapur'},
     3:{'name': 'Hari', 'age': 54, 'add': 'Lalitpur'}}
print(type(d))

<class 'dict'>

In [5]:
print(d[1])

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}

In [6]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input('Enter age = '))
    add = input("Enter add = ")
    x = {'name': name, 'age': age, 'add': add}
    d[i] = x
    
print(d)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 34
Enter add = Bhaktapur
{1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 34, 'add': 'Bhaktapur'}}

In [8]:
d[1]['name']

'Ram'

In [9]:
d[1]['name'] = "Ram Prasad"
d

{1: {'name': 'Ram Prasad', 'age': 34, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 34, 'add': 'Bhaktapur'}}

In [10]:
a = {1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, 
     2: {'name': 'Shyam', 'age': 34, 'add': 'Bhaktapur'}}
del a[1]
a

{2: {'name': 'Shyam', 'age': 34, 'add': 'Bhaktapur'}}

In [11]:
a = {1:{'name': 'Ram','age':34,'add': {'per':'Kathmandu','temp':"Koteswor"}}, 
     2: {'name':'Shyam','age':34,'add': {'per':'Kathmandu','temp':"Koteswor"}}}
a

{1: {'name': 'Ram',
  'age': 34,
  'add': {'per': 'Kathmandu', 'temp': 'Koteswor'}},
 2: {'name': 'Shyam',
  'age': 34,
  'add': {'per': 'Kathmandu', 'temp': 'Koteswor'}}}