In [1]:
# file = open('<file location>','<mode>')
# <operations>
# file.close()

In [2]:
# with open('<file_name>','mode') as file:
#     <operations>

In [3]:
# read -> r
# write -> w
# create -> x
# append -> a

In [4]:
file = open('data.txt','x')
file.close()

In [5]:
file = open('data.txt','r')
x = file.read()
print(x)
file.close()

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World

In [7]:
b = x.split('\n')
b

['1. Hello World',
 '2. Hello World',
 '3. Hello World',
 '4. Hello World',
 '5. Hello World']

In [8]:
b[0]

'1. Hello World'

In [9]:
# write
file = open('data1.txt','w')
file.write('Hello World')
file.close()

In [32]:
# name, price, quantity, total all_total
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    bill = bill + f"{name}\t{price}\t{qty}\t{total}\n"
print(bill)

file = open('bill.txt','w')
file.write(bill)
file.close()

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 3
Enter name = Banana
Enter price = 200
Enter quantity = 4
Apple	300	3.0	900.0
Banana	200	4.0	800.0

In [33]:
bill

'Apple\t300\t3.0\t900.0\nBanana\t200\t4.0\t800.0\n'

In [34]:
file = open('bill.txt','r')
x = file.read()
print(x.split('\n'))
file.close()

['Apple\t300\t3.0\t900.0', 'Banana\t200\t4.0\t800.0', '']

In [38]:
y = x.split('\n')[0:-1]
y

['Apple\t300\t3.0\t900.0', 'Banana\t200\t4.0\t800.0']

In [50]:
bills = []
for i in y:
    z = i.split('\t')
    z[1] = int(z[1])
    z[2] = float(z[2])
    z[3] = float(z[3])

    bills.append(z)
    
bills

[['Apple', 300, 3.0, 900.0], ['Banana', 200, 4.0, 800.0]]

In [51]:
for i in y:
    z = i.split('\t')
    print(z)

['Apple', '300', '3.0', '900.0']
['Banana', '200', '4.0', '800.0']

In [3]:
# name, price, quantity, total all_total
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    bill = bill + f"{name},{price},{qty},{total}\n"
print(bill)

file = open('bill.csv','w')
file.write('name,price,qty,total\n')
file.write(bill)
file.close()

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 2
Enter name = Banana
Enter price = 100
Enter quantity = 3
Apple,300,2.0,600.0
Banana,100,3.0,300.0

In [2]:
pwd

'C:\\Users\\Aayush\\Python-class-8AM'

In [5]:
import pandas as pd
df = pd.read_csv('bill.csv')
df

     name  price  qty  total
0   Apple    300  2.0  600.0
1  Banana    100  3.0  300.0