In [1]:
# # pre defined
# print() int() str() float() type() list() tuple() dict() set()

In [2]:
# def <function_name>():
#     <operations>
    
# <function_name>()

In [4]:
def hello():
    print("Hello World")
    
hello()
hello()

Hello World
Hello World

In [5]:
def cal():                       #defining function
    l = int(input("Enter l = ")) #local variable
    b = int(input("Enter b = ")) #local variable
    h = int(input("Enter h = ")) #local variable
    a = l*b
    v = l*b*h
    print(a)
    print(v)
    
cal()                            #function call

Enter l = 200
Enter b = 34
Enter h = 5
6800
1156000

In [6]:
l = int(input("Enter l = ")) #global variable
b = int(input("Enter b = ")) #global variable
h = int(input("Enter h = ")) #global variable
def cal():                       #defining function
    a = l*b
    v = l*b*h
    print(a)
    print(v)
    
cal()                            #function call

Enter l = 110
Enter b = 23
Enter h = 2
2530
5060

In [7]:
l = int(input("Enter l = ")) #global variable
b = int(input("Enter b = ")) #global variable
h = int(input("Enter h = ")) #global variable

def area():                       #defining function
    a = l*b
    print(a)
    
def volume():
    v = l*b*h
    print(v)
    
area()                            #function call
volume()

Enter l = 100
Enter b = 2
Enter h = 3
200
600

In [ ]:
# function with arguments
l = int(input("Enter l = ")) #global variable
b = int(input("Enter b = ")) #global variable
h = int(input("Enter h = ")) #global variable

def cal(x,y,z):              #defining function with parameter
    a = x*y
    v = x*y*z
    print(a)
    print(v)

    
cal(l,b,h)                    #function call with arguments

In [ ]:
# function with arguments
def cal(data):              #defining function with parameter
    x,y,z = data
    a = x*y
    v = x*y*z
    print(a)
    print(v)

l = int(input("Enter l = ")) #global variable
b = int(input("Enter b = ")) #global variable
h = int(input("Enter h = ")) #global variable
data = [l,b,h]
cal(data)                    #function call with arguments

In [8]:
def language(lan = "Python"):
    print(lan)
    
language("C")
language("C++")
language("Java")
language("R")
language()

C
C++
Java
R
Python

In [11]:
# Return type function
def hello():
    return "Hello World"

# print(hello())
x = hello()
print(x + " I am Python")

Hello WorldI am Python

In [12]:
# function with arguments and return type
l = int(input("Enter l = ")) #global variable
b = int(input("Enter b = ")) #global variable
h = int(input("Enter h = ")) #global variable

def cal(x,y):              #defining function with parameter
    a = x*y
    return a

    
area = cal(l,b)                    #function call with arguments
volume = area *h 
print(volume)
print(area)

Enter l = 100
Enter b = 23
Enter h = 2
4600
2300

In [13]:
# function with arguments
l = int(input("Enter l = ")) #global variable
b = int(input("Enter b = ")) #global variable
h = int(input("Enter h = ")) #global variable

def cal(x,y,z):              #defining function with parameter
    a = x*y
    v = x*y*z
    return a,v

    
print(cal(l,b,h))                    #function call with arguments
area,volume = cal(l,b,h)
print(area)
print(volume)

Enter l = 100
Enter b = 23
Enter h = 21
(2300, 48300)

In [ ]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("Enter + or - or * or /  ")
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
def cal(a,b,o):
    if o == '+':
        print(add(a,b))
    elif o == '-':
        print(sub(a,b))
    elif o == '*':
        print(mul(a,b))
    elif (o == '/') and (b != 0):
        print(div(a,b))
    elif (o == '/') and (b == 0):
        print("The value of b can not be zero when o = /")
    else:
        print("Enter valid operator")
cal(a,b,o)

In [15]:
# name, price, quantity, total all_total
bill = str()
all_total = 0
n = int(input("Enter n = "))

def billing_system(n):
    global bill,all_total
    for i in range(n):
        name = input("Enter name = ")
        price = int(input("Enter price = "))
        qty = float(input("Enter quantity = "))
        total = price * qty
        bill = bill + f"{name} {price} {qty} {total}\n"
        all_total = all_total + total
    return bill,all_total

bill,all_total = billing_system(n)
print(bill)
print(all_total)

Enter n = 2
Enter name = Apple
Enter price = 34
Enter quantity = 3
Enter name = Banana
Enter price = 100
Enter quantity = 2
Apple 34 3.0 102.0
Banana 100 2.0 200.0

302.0

In [1]:
# recursive function

In [ ]:
def hello():
    print("Hello World")
    hello()
    
hello()

In [1]:
def hello():
    print("Hello World")
    x = input("Enter y for more print ")
    if x == 'y':
        hello()
    
hello()

Hello World
Enter y for more print y
Hello World
Enter y for more print y
Hello World
Enter y for more print asdas

In [5]:
# name, price, quantity, total all_total
bill = []
def billing_system():
    global bill
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    bill = bill + [[name,price,qty,total]]
    x = input("Press enter for more entry ")
    if x == '':
        billing_system()
        
billing_system()

Enter name = Apple
Enter price = 100
Enter quantity = 3
Press enter for more entry
Enter name = Banana
Enter price = 300
Enter quantity = 2
Press enter for more entry ads

In [6]:
bill

[['Apple', 100, 3.0, 300.0], ['Banana', 300, 2.0, 600.0]]

In [7]:
# lambda function

In [8]:
# x = lambda <argument>:<operation>

In [9]:
x = lambda a:a**2
print(x(4))

16

In [10]:
x = lambda l,b:l*b
x(10,5)

50

In [11]:
x = lambda a:a.lower()
print(x("Hello World"))

hello world

In [12]:
# filter() map()

In [13]:
a = [1,2,3,4,5,6,7,8,9,10]
x = list(filter(lambda y:y%2==0, a))
x

[2, 4, 6, 8, 10]

In [14]:
a = ["Apple","ball","Cat","Dog","Fish"]
x = list(filter(lambda y:y[0].isupper(), a))
x

['Apple', 'Cat', 'Dog', 'Fish']

In [15]:
# map()

In [17]:
a = [1,2,3,4,5,6,7,8,9,10]
x = list(map(lambda y:y**2, a))
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
a = ["Apple","Ball","Cat","Dog","Fish"]
x = list(map(lambda y:y.lower(), a))
x

['apple', 'ball', 'cat', 'dog', 'fish']

In [19]:
#List Comprehension
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
a = [int(input("Enter x = ")) for i in range(5)]
a

Enter x = 23
Enter x = 43
Enter x = 43
Enter x = 32
Enter x = 45

[23, 43, 43, 32, 45]

In [21]:
a = sum([int(input("Enter x = ")) for i in range(5)])
a

Enter x = 34
Enter x = 32
Enter x = 53
Enter x = 35
Enter x = 23

177

In [22]:
a = ["Apple","Ball","Cat","Dog","Fish"]
b = [i.lower() for i in a]
b

['apple', 'ball', 'cat', 'dog', 'fish']

In [23]:
#Dict Comprehension
a = {i:i**2 for i in range(1,6)}
a

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [24]:
a = {input("Enter name = "):input("Enter phone = ") for i in range(5)}
a

Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808445432
Enter name = Hari
Enter phone = 9808445432
Enter name = Sita
Enter phone = 9834789056
Enter name = nabin
Enter phone = 9823556543

{'Ram': '9808778765',
 'Shyam': '9808445432',
 'Hari': '9808445432',
 'Sita': '9834789056',
 'nabin': '9823556543'}

In [25]:
a = ["Apple1","Ball2","Cat3","Dog4","Fish5"]
b = {i:i[:-1] for i in a}
b

{'Apple1': 'Apple',
 'Ball2': 'Ball',
 'Cat3': 'Cat',
 'Dog4': 'Dog',
 'Fish5': 'Fish'}