In [1]:
# Python collection
# list
# tuple
# dict
# set

In [2]:
# List
# -Indexing
# -Ordered
# -Multiple and duplicate
# -Mutable

In [4]:
a = [1,2,3,4,5,6,7,8,9,0]
b = ["Apple","Ball","Cat","Dog","Fish"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [10]:
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(b)
print(b[0])
print(b[0:4])
print(b[0:5:2])

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Fish']

In [11]:
a = [1,2,3,4,5]
b = [6,7,8,9,0]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [12]:
a = [1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [14]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
for i in a:
    print(i)

In [15]:
#append() insert() extend()

In [17]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
    print(a)

Enter n = 5
Enter x = 234
[234]
Enter x = 567
[234, 567]
Enter x = 234
[234, 567, 234]
Enter x = 567
[234, 567, 234, 567]
Enter x = 789
[234, 567, 234, 567, 789]

In [21]:
print("The max value = ",max(a))
print("The min value = ",min(a))
print("The sum of the value = ",sum(a))
a.sort()
print(a)
a.reverse()
print(a)

The max value =  789
The min value =  234
The sum of the value =  2391
[234, 234, 567, 567, 789]
[789, 567, 567, 234, 234]

In [23]:
a = ["Ball","Apple","Cat","ant","Xray","Ball"]
a.sort()
print(a)

['Apple', 'Ball', 'Ball', 'Cat', 'Xray', 'ant']

In [27]:
a = ["Ball","Apple","Cat","1ant",".Xray","Ball"]
a.sort()
print(a)

['.Xray', '1ant', 'Apple', 'Ball', 'Ball', 'Cat']

In [28]:
#insert()
a = ["Ball","Apple","Cat","ant","Xray","Ball"]
a.insert(1,"apple")
a

['Ball', 'apple', 'Apple', 'Cat', 'ant', 'Xray', 'Ball']

In [29]:
#extend()
a = ["Ball","Apple","Cat","ant","Xray","Ball"]
b = [1,2,3,4,5,6,7,8,9,0]
a.extend(b)
a

['Ball', 'Apple', 'Cat', 'ant', 'Xray', 'Ball', 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [31]:
# Update list
a = ["Ball","Apple","Cat","ant","Xray","Ball"]
a[0] = "ball"
a

['ball', 'Apple', 'Cat', 'ant', 'Xray', 'Ball']

In [34]:
a = ["Ball","Apple","Cat","ant","Xray","Ball"]
a[1:2] = ["ball","apple"]
a

['Ball', 'ball', 'apple', 'Cat', 'ant', 'Xray', 'Ball']

In [35]:
a = ["Ball","Apple","Cat","ant","Xray","Ball"]
a[0:2] = ["ball","apple"]
a

['ball', 'apple', 'Cat', 'ant', 'Xray', 'Ball']

In [36]:
# removing value from list
#del remove() pop()

In [37]:
a = ['ball', 'apple', 'Cat', 'ant', 'Xray', 'Ball']
del a[0]
print(a)

['apple', 'Cat', 'ant', 'Xray', 'Ball']

In [38]:
a = ['ball', 'apple', 'Cat', 'ant', 'Xray', 'Ball']
del a[0:3]
print(a)

['ant', 'Xray', 'Ball']

In [40]:
#find indexing
a = ['ball', 'apple', 'Cat', 'ant', 'Xray', 'Ball']
print(a.index("apple"))

1

In [41]:
#find indexing
a = ['ball', 'apple', 'Cat', 'ant', 'Xray', 'Ball','apple']
print(a.index("apple"))

1

In [45]:
a = ['ball', 'apple', 'Cat', 'ant', 'Xray', 'Ball','apple']
l = len(a)
search = input("Enter search value = ")
for i in range(l):
    if a[i] == search:
        print(i)

Enter search value = ball
0

In [46]:
a = ['ball', 'apple', 'Cat', 'ant', 'Xray', 'Ball','apple']
a.remove("Ball")
a

['ball', 'apple', 'Cat', 'ant', 'Xray', 'apple']

In [49]:
a = ['ball', 'apple', 'Cat', 'ant', 'Xray', 'Ball','apple']
c = a.count('apple')
for i in range(c):
    a.remove("apple")
print(a)

['ball', 'Cat', 'ant', 'Xray', 'Ball']

In [52]:
a = ['ball', 'apple', 'Cat', 'ant', 'Xray', 'Ball','apple']
b = a.pop(0)
print(a)
print(b)

['apple', 'Cat', 'ant', 'Xray', 'Ball', 'apple']
ball

In [1]:
# search in list

In [5]:
a = ['apple', 'Cat', 'ant', 'Xray', 'Ball', 'apple']
search = input("Enter search value = ")
if search in a:
    print("Yes")
    print(a.count(search))

Enter search value = apple
Yes
2

In [7]:
c = 0
a = ['apple', 'Cat', 'ant', 'Xray', 'Ball', 'apple']
search = input("Enter search value = ")
for i in range(len(a)):
    if search.lower() == a[i].lower():
        c = c+1

if c>0:
    print("Yes there is such value")
else:
    print("No there is no such value")

Enter search value = apple
2

In [8]:
# list inside list

In [9]:
a = [[1,2,3],
    [4,5,6,],
    [7,8,9]]
print(type(a))

list

In [10]:
info = [['Ram',34,'Kathmandu'],
       ['Shyam',45,'Bhaktapur'],
       ['Hari',34,'Lalitpur']]
print(info)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [16]:
info[0][2]

'Kathmandu'

In [13]:
info[1][0]

'Shyam'

In [18]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = [name,age,add]
    info.append(x)
    
print(info)

Enter n = 4
Enter name = Ram
Enter age = 89
Enter add = Kathmansu
Enter name = Shyam
Enter age = 81
Enter add = Bhaktapur
Enter name = Sita
Enter age = 34
Enter add = Jhapa
Enter name = Nabin
Enter age = 45
Enter add = Nuwakot
[['Ram', 89, 'Kathmansu'], ['Shyam', 81, 'Bhaktapur'], ['Sita', 34, 'Jhapa'], ['Nabin', 45, 'Nuwakot']]

In [19]:
info

[['Ram', 89, 'Kathmansu'],
 ['Shyam', 81, 'Bhaktapur'],
 ['Sita', 34, 'Jhapa'],
 ['Nabin', 45, 'Nuwakot']]

In [20]:
len(info)

4

In [21]:
for i in info:
    print(i)

['Ram', 89, 'Kathmansu']
['Shyam', 81, 'Bhaktapur']
['Sita', 34, 'Jhapa']
['Nabin', 45, 'Nuwakot']

In [22]:
name = input("Enter name = ")
for i in info:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 89, 'Kathmansu']

In [24]:
age = int(input("Enter age = "))
for i in info:
    if  i[1]>= age:
        print(i)

Enter age = 80
['Ram', 89, 'Kathmansu']
['Shyam', 81, 'Bhaktapur']

In [26]:
name = input("Enter name = ")
for i in info:
    if name.lower() == i[0].lower():
        print(i)

Enter name = ram
['Ram', 89, 'Kathmansu']

In [29]:
# update
info[0] = ['ram',34,'kathmandu']
info

[['ram', 34, 'kathmandu'],
 ['Shyam', 81, 'Bhaktapur'],
 ['Sita', 34, 'Jhapa'],
 ['Nabin', 45, 'Nuwakot']]

In [30]:
info[0] = ['ram',34,'kathmandu']
info[0][0] = "rAm"
info

[['rAm', 34, 'kathmandu'],
 ['Shyam', 81, 'Bhaktapur'],
 ['Sita', 34, 'Jhapa'],
 ['Nabin', 45, 'Nuwakot']]

In [31]:
info

[['rAm', 34, 'kathmandu'],
 ['Shyam', 81, 'Bhaktapur'],
 ['Sita', 34, 'Jhapa'],
 ['Nabin', 45, 'Nuwakot']]

In [36]:
# del remove() pop()
del info[0]
info

[['Nabin', 45, 'Nuwakot']]

In [45]:
info = [['Ram', 34, 'kathmandu'],
 ['Ram', 81, 'Bhaktapur'],
 ['Sita', 34, 'Jhapa'],
 ['Nabin', 45, 'Nuwakot']]

In [41]:
info.remove(['rAm', 34, 'kathmandu'])

In [42]:
info

[['Shyam', 81, 'Bhaktapur'], ['Sita', 34, 'Jhapa'], ['Nabin', 45, 'Nuwakot']]

In [46]:
name = input("Enter name = ")
for i in info:
    if name in i:
        info.remove(i)

Enter name = Ram
['Ram', 34, 'kathmandu']
['Ram', 81, 'Bhaktapur']

In [ ]:
info = [['Ram', 34, 'kathmandu',50000],
         ['Ram', 81, 'Bhaktapur',60000],
         ['Sita', 34, 'Jhapa'],40000,
         ['Nabin', 45, 'Nuwakot',65000]]