In [1]:
# loop
# for loop
# while loop

In [2]:
# for loop
# range(5)       # 0,1,2,3,4
# range(1,5)     # 1,2,3,4
# range(1,10,2)  # 1,3,5,7,9

In [4]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
for i in range(1,10,3):
    print(i,"Hello World")

1 Hello World
4 Hello World
7 Hello World

In [10]:
for i in range(5,0,-1):
    print(i,"Hello World")

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [13]:
a = int(input("Enter a = "))
for i in range(1,11):
    print(a*i)

Enter a = 5
5
10
15
20
25
30
35
40
45
50

In [14]:
a = int(input("Enter a = "))
for i in range(1,11):
    print(a,"*",i,"=",a*i)

Enter a = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [15]:
for i in range(2):
    a = int(input("Enter a = "))

Enter a = 10
Enter a = 20

In [17]:
s = 0
for i in range(6):
    a = int(input("Enter a = "))
    s = s + a
    print(s)

Enter a = 1000
1000
Enter a = 2000
3000
Enter a = 1500
4500
Enter a = 4000
8500
Enter a = 2000
10500
Enter a = 1000
11500

In [3]:
#s = str()
s = ""
for i in range(5):
    a = input("Enter a = ")
    s = s + a + "\n"
    
print(s)

Enter a = Ram
Enter a = Shyam
Enter a = Hari
Enter a = Sita
Enter a = Gita
Ram
Shyam
Hari
Sita
Gita

In [2]:
#s = str()
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + " " + phone + "\n"
    
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808778765
Ram 9808778765
Shyam 9808778765

In [4]:
# name, price, quantity, total all_total
bill = str()
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    bill = bill + name+" "+str(price)+" "+str(qty)+" "+str(total)+"\n"
    all_total = all_total + total
print(bill)
print(all_total)

Enter n = 1
Enter name = Apple
Enter price = 400
Enter quantity = 2
Apple 400 2.0 800.0

In [12]:
s = 0
n = int(input("Enter n= "))
for i in range(1,n+1):
    s = s +i
    
print(s)

Enter n= 100
5050

In [14]:
#5! = 1*2*3*4*5
s = 1
n = int(input("Enter n= "))
for i in range(1,n+1):
    s = s *i
    
print(s)

Enter n= 5
120

In [17]:
n = 5
for i in range(5):
    print(i * "*")

*
**
***
****

In [27]:
n = 10
for i in range(1,n):
    print((n-i)*" ",(2*i-1) * "o")

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo

In [30]:
n = 10
for i in range(1,n):
    print((n-i)*" ",(2*i-1) * "o")

for i in range(n,-1,-1):
    print((n-i)*" ",(2*i-1) * "o")

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo
 ooooooooooooooooooo
  ooooooooooooooooo
   ooooooooooooooo
    ooooooooooooo
     ooooooooooo
      ooooooooo
       ooooooo
        ooooo
         ooo
          o

In [31]:
# loop in string

In [34]:
a = "Hello"
for i in a:
    print(i,"Hello World")

H Hello World
e Hello World
l Hello World
l Hello World
o Hello World

In [42]:
a = "Hello world"
for i in a:
    print(i,end = "")

Hello world

In [43]:
for i in range(5):
    print(i,end = "")

01234

In [44]:
a = "Hello world"
for i in a:
    if i != " ":
        print(i,end = "")

Helloworld

In [46]:
for i in range(0,21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [47]:
a = "Hello world. I am Python!"
for i in a:
    if i != ".":
        print(i,end = "")

Hello world I am Python!

In [49]:
a = "Hello world. I am Python!"
for i in a:
    if i != "." and i!="!":
        print(i,end = "")

Hello world I am Python

In [ ]:
# control statement
# break
# continue
# pass

#While loop

In [1]:
# break statement

In [4]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [6]:
for i in range(10):
    if i == 5:
        continue
    print(i, end = " ")

0 1 2 3 4 6 7 8 9

In [9]:
a = "Hello World"
for i in a:
    if i == " ":
        break
    print(i, end = "")

Hello

In [10]:
a = "Hello World. I am Python."
for i in a:
    if i == ".":
        break
    print(i, end = "")

Hello World

In [11]:
a = "Hello World. I am Python."
for i in a:
    if i == ".":
        continue
    print(i, end = "")

Hello World I am Python

In [12]:
# pass statement

In [17]:
a = 5
if a == 5:
    pass

In [15]:
for i in range(5):
    pass

In [18]:
# for else loop

In [19]:
# prime -> 2,3,5,7,11,13,17
# composite -> 4,6,8,9,10,12,14,15

In [29]:
n = int(input("Enter n = "))
if n > 2:
    for i in range(2,n):
        if n%i==0:
            print("The no is composite!")
            break

    else:
        print("The no is prime")
        
else:
    print("The value of n > 2")

Enter n = 2
The value of n>2

In [1]:
# while loop
while True:
    print("Hello World")

In [9]:
a = 0
while a<=5:
    print(a,"Hello World")
#     a = a +1
    a+=1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World

In [10]:
a = 5
while a>=0:
    print(a,"Hello World")
#     a = a +1
    a-=1

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World
0 Hello World

In [11]:
i = 1
a = int(input("Enter a = "))
while i<=10:
    print(a,"*",i,"=",a*i)
    i = i+1

Enter a = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [13]:
i = 0
s = 0
while i<5:
    a = int(input("Enter a = "))
    s = s + a
    i = i+1
print(s)

Enter a = 243
Enter a = 34
Enter a = 456
Enter a = 324
Enter a = 45
1102

In [ ]:
# name, price, quantity, total all_total
i = 0
bill = str()
all_total = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    bill = bill + name+" "+str(price)+" "+str(qty)+" "+str(total)+"\n"
    all_total = all_total + total
    i = i +1
    
print(bill)
print(all_total)

In [15]:
i = 0
while i <10:
    if i == 5:
        break  
    i = i+1
    print(i)

In [1]:
i = 0
while i <10:
    if i == 5:
        i = i+1        
        continue
    
    print(i)
    i = i+1

0
1
2
3
4
6
7
8
9