In [1]:
# Tuple
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Imutable

In [2]:
t= tuple()

In [5]:
t = (1,)
print(type(t))

<class 'tuple'>

In [6]:
# No Create (appen(), insert() extend())
# No Update (sort())
# No Delete (del pop() remove())

In [11]:
t = ("Apple","Ball","Cat","Dog","Apple")
print(t)
print(t[0])

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
Apple

In [12]:
a = (234,456,7568,234,567,798,345,768,798,23,45)
print(max(a))
print(min(a))
print(sum(a))

7568
23
11836

In [13]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
if "Apple" in a:
    print("Yes")

Yes

In [14]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
a.index("Apple")
a

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')

In [16]:
a = (1,2,3,4,5)
b = (3,2,4,5,2)
c = a+b
print(c)

(1, 2, 3, 4, 5, 3, 2, 4, 5, 2)

In [17]:
a = (1,2,3,4,5)
print(a*2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t + (x,)
    
print(t)

In [18]:
a = "Apple"
tuple(a)

('A', 'p', 'p', 'l', 'e')

In [19]:
list("Apple")

['A', 'p', 'p', 'l', 'e']

In [22]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
a = list(a)
a

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [23]:
del a[0]
a = tuple(a)
a

('Ball', 'Cat', 'Dog', 'Apple')

In [ ]:
# tuple inside tuple
t = ((1,2,3),
    (4,5,6),
     (7,8,9))
print(t)

In [24]:
#tuple inside tuple
info = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = (name,age,add)
    info = info + (x,)
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 78
Enter add = KAthmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur
(('Ram', 78, 'KAthmandu'), ('Shyam', 89, 'Bhaktapur'))

In [25]:
# list inside tuple
t = (['Ram', 78, 'KAthmandu'], ['Shyam', 89, 'Bhaktapur'])
t

(['Ram', 78, 'KAthmandu'], ['Shyam', 89, 'Bhaktapur'])

In [26]:
t[0]

['Ram', 78, 'KAthmandu']

In [27]:
# tuple inside list
t = [('Ram', 78, 'KAthmandu'), ('Shyam', 89, 'Bhaktapur')]
t

[('Ram', 78, 'KAthmandu'), ('Shyam', 89, 'Bhaktapur')]

In [30]:
a = {('Sita','Gita'):9808778765,
    'Hari':9808778765}

In [31]:
a[('Sita','Gita')]

9808778765